.container-main {
    margin: 0;   
    background-color: $light_purple;
    height: 100vh;
}

.container-inner {
    @include center;
    width: 80%;
}

.container-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}