.content {
    @include center;
    background-color: $white;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.08);
}

.content-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}


.content-item {
    display: flex;
    justify-content: center;
}
.content-item-two {
    @include center;
    width: 100%;
    @include mq(small) {
        width: 90%;
    }
    @include mq(medium) {
        width: 80%;
    }
    @include mq(large) {
        width: 60%;
    }
}

.header-text {
    color: $white;
    font-size: 1.5rem;
    font-weight: $font-weight--light;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgba($color: $white, $alpha: .5) 1px 0 10px;
    margin: 0;
    padding: 20px 0;
    @include mq(medium) {
        font-size: 2.5rem;
    }
}

.subheader-text {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    @include mq(large) {
        font-size: 1.5rem;
    }
}

.img {
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid grey;
}

.author {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 40px;
}
.enter-email {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    @include mq(large) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px 60px;
    }
}

.email-item{
   width: 100%;
   @include mq(large) {
    width: 45%
   }
}

.form-item-one {
    @include center-box;
    text-align: center;
    font-size: 1rem;
    color: $white;
    @include mq(large) {
        font-size: 1.2rem;
    }
}

.form-item-two {
    font-size: .9rem;
    outline: none;
    border: none;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 5px;
    &:focus {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }
}

.send-btn {
    @include center;
    display: flex;
    justify-content: center;
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: $color-secondary;
    padding: 15px 30px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    &:hover {
        text-shadow: $white 1px 0 10px;
        box-shadow: 0 0 20px 10px rgba($color: $white, $alpha: .6);
    }
    @include mq(small) {
        font-size: 1.2rem;
    }
    @include mq(large) {
        font-size: 1.5rem;
    }
}